src/main/mule/upload-file-to-salesforce-example-mule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="cfd4d02d-337f-4815-b15e-049d870c2957" file="mule-properties.yaml" key="${mule.key}" />
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="bb8b5e77-f41b-4eda-bd79-693531aa7606" >
		<salesforce:basic-connection username="${secure::sfdc.username}" password="${secure::sfdc.password}" securityToken="${secure::sfdc.token}" />
	</salesforce:sfdc-config>
	
	<flow name="upload-file-to-salesforce-example-mule4Flow1" doc:id="b496f972-b640-4d17-b305-517bf28216e3" >
		<file:listener doc:name="On New or Updated File" doc:id="c72d4eb4-af50-4b72-a558-ad16bb36c071" directory="/Users/dejim.juang/Workspaces/seven-five/upload-file-to-salesforce-example-mule4/src/main/resources/in" moveToDirectory="/Users/dejim.juang/Workspaces/seven-five/upload-file-to-salesforce-example-mule4/src/main/resources/out">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Map File to ContentVersion Object" doc:id="1a737e5b-b85b-4810-8ea8-42a14de50228" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
[{
	PathOnClient: attributes.fileName,
	VersionData: payload as Binary {
		class: "byte[]"
	}
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="ContentVersion" externalIdFieldName="Id" doc:name="Upload File" doc:id="30269d0b-7091-48ec-8810-d57b40ada995" config-ref="Salesforce_Config"/>
		<salesforce:query doc:name="Get Content Document Id" doc:id="513c18ef-aac1-4987-b3e0-afe072e2eb78" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT ContentDocumentId FROM ContentVersion WHERE Id = ':cvId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cvId" : payload.items[0].id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Map Document Link" doc:id="07190465-f65b-4ec8-b47d-a164fc31a489" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	LinkedEntityId: p('secure::sfdc.object_id'),
	ContentDocumentId: payload01.ContentDocumentId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="ContentDocumentLink" externalIdFieldName="Id" doc:name="Create Content Document Link" doc:id="8329d7e4-c4d9-4dd4-b6d5-317fcbf5944e" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="d5de90c7-c11f-4611-b542-9a5287d81820" message="#[output application/json --- payload]"/>
	</flow>

</mule>
